In [1]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [12]:
train_data = pd.read_csv(r'C:\Users\Lzumi\Desktop\比赛相关\失信企业大数据\识别失信企业大赛数据\train.csv')
test_data = pd.read_csv(r'C:\Users\Lzumi\Desktop\比赛相关\失信企业大数据\识别失信企业大赛数据\test.csv')

sns.set_style('whitegrid')
train_data.head()

,ID,企业类型,经营期限至,登记机关,企业状态,邮政编码,投资总额,注册资本,核准日期,行业代码,...,应收账款_年末数,一年内到期的非流动资产_年末数,油气资产_年末数,应收补贴款_年末数,应收股利_年末数,应收利息_年末数,应收票据_年末数,预付款项_年末数,资产总计_年末数,在建工程_年末数
0,1,9.0,NaN,1.0,0.0,266300,19.110000,19.110000,00:00.0,5154.0,...,142.310005,0.0,0.0,0.0,0.0,0.0,28.122902,1.004419,632.032182,0.0
1,3,11.0,NaN,5.0,0.0,266000,29.154194,19.210446,00:00.0,7214.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,0.0,NaN,3.0,0.0,266000,NaN,19.120045,13:31.0,2110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,0.0,42:05.0,9.0,0.0,266000,NaN,19.160223,00:00.0,5163.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,0.0,NaN,2.0,0.0,266400,NaN,19.210446,00:00.0,5439.0,...,156.901030,0.0,0.0,0.0,0.0,0.0,10.044194,0.508236,319.205293,0.0

In [14]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14366 entries, 0 to 14365
Columns: 178 entries, ID to 在建工程_年末数
dtypes: float64(170), int64(1), object(7)
memory usage: 19.5+ MB

In [16]:
loos_f = pd.read_csv(r'C:\Users\Lzumi\Desktop\比赛相关\失信企业大数据\识别失信企业大赛数据\train_label.csv')

In [22]:
test = pd.DataFrame([['a','b','c'],[1,2,3],[4,5,6]], columns=['aa','bb','cc'])

In [23]:
test

  aa bb cc
0  a  b  c
1  1  2  3
2  4  5  6

In [27]:
test['dd']=['d',4,7]

In [28]:
test

  aa bb cc dd
0  a  b  c  d
1  1  2  3  4
2  4  5  6  7